name: Data Pipeline CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  pipeline-check:
    runs-on: ubuntu-latest
    
    services:
      mysql:
        image: mysql:8.0
        env:
          MYSQL_ROOT_PASSWORD: root
          MYSQL_DATABASE: University_DB
          MYSQL_USER: workbench_user
          MYSQL_PASSWORD: 1
          MYSQL_AUTHENTICATION_PLUGIN: mysql_native_password  # این خط اضافه شد
        ports:
          - 3306:3306
        options: >-
          --health-cmd="mysqladmin ping -h 127.0.0.1 -uroot -proot"
          --health-interval=10s
          --health-timeout=5s
          --health-retries=5

    steps:
      - uses: actions/checkout@v3
        
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.12'
      
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install cryptography  # اطمینان از نصب cryptography
      
      - name: Configure MySQL
        run: |
          # تنظیم فایل پیکربندی
          mysql_config="[client]\nuser=root\npassword=root\nhost=127.0.0.1"
          echo "$mysql_config" > ~/.my.cnf
          chmod 600 ~/.my.cnf
          

          
          # ایجاد دیتابیس و کاربر با روش احراز هویت قدیمی
          mysql -e "CREATE DATABASE IF NOT EXISTS University_DB;"
          mysql -e "CREATE USER IF NOT EXISTS 'workbench_user'@'%' IDENTIFIED WITH mysql_native_password BY '1';"
          mysql -e "GRANT ALL PRIVILEGES ON University_DB.* TO 'workbench_user'@'%';"
          mysql -e "FLUSH PRIVILEGES;"
      
      - name: Run database import script
        env:
          DB_HOST: 127.0.0.1
          DB_USER: workbench_user
          DB_PASSWORD: 1
          DB_NAME: University_DB
        run: python scripts/database_operations/import_csv_to_db.py

              
      - name: Run main pipeline
        env:
          DB_HOST: 127.0.0.1
          DB_USER: workbench_user
          DB_PASSWORD: 1
          DB_NAME: University_DB
        run: python pipeline.py