name: Data Pipeline CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  pipeline-check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3  # Checks out the code
      - uses: actions/setup-python@v3  # Sets up Python
        with:
          python-version: '3.12'  # Specifies the Python version
      - run: pip install -r requirements.txt  # Installs dependencies
      - run: python pipeline.py  # Runs your main pipeline script
